<h2 class="display-3" style="text-align: center">Book Store</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #addUpdateFormRef="ngForm">
        <div class="form-group">
          <input
            type="number"
            name="id"
            ngModel
            placeholder="Enter Book ID"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="name"
            ngModel
            placeholder="Enter Book name"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="author_name"
            ngModel
            placeholder="Enter author name"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="date"
            name="publish_date"
            ngModel
            placeholder="Enter publish date (dd/mm/yyyy)"
            style="width: 240px"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="genre"
            ngModel
            placeholder="Enter genre"
            required
          />
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!addUpdateFormRef.valid"
          (click)="addBook(addUpdateFormRef)"
        >
          Add Book
        </button>
        <button
          class="btn btn-primary"
          type="submit"
          (click)="updateBook(addUpdateFormRef)"
          [disabled]="!addUpdateFormRef.valid"
        >
          Update Book
        </button>
      </form>
    </div>
  </div>
</div>

<br />
<button class="btn btn-primary" (click)="listBooks()">
  Read all Book Details
</button>
<br />
<br />

<!-- Form for reading/updating/deleting a specific book -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #readDeleteFormRef="ngForm">
        <div class="form-group">
          <input
            type="text"
            name="id"
            ngModel
            placeholder="Enter Book ID"
            required
          />
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          (click)="readBook(readDeleteFormRef)"
          [disabled]="!readDeleteFormRef.valid"
        >
          Read Details
        </button>
        <button
          class="btn btn-primary"
          type="submit"
          (click)="deleteBook(readDeleteFormRef)"
          [disabled]="!readDeleteFormRef.valid"
        >
          Delete Book
        </button>
      </form>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let book of bookList">
    Book id: {{ book.id }}, Name: {{ book.name }}, Author:
    {{ book.author_name }}, Publish Date: {{ book.publish_date }}, Genre:
    {{ book.genre }}
  </li>
</ul>
